<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="row">
      <div class="col s12 m3">
        <div class="table cover">
          {% include header.html %}
        </div>
      </div>
      <div class="col s12 m9">
        <div class="post-listing">
          <section id="about">
            {% include sections/about.html %}
          </section>
          <section id="education">
            {% include sections/education.html %}
          </section>
          <section id="opensource">
            {% include sections/opensource.html %}
          </section>
          <section id="work">
            {% include sections/work.html %}
          </section>
          {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
